/*обнуление*/
* {
    margin: 0;
    padding: 0;
}
a {text-decoration: none;}

html {
    scroll-behavior: smooth;
  }
  
body{
    font-family: "Montserrat", sans-serif;
    background-color: #202027;
}

button {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    position: relative;
    height: 800px;
    background-color: #E1FF8F;
    &__big-star {
        position: absolute;
        right: 0;
        top: 0;
    }
    &__small-star {
        display: none;
    }
    &-content {
        position: absolute;
        padding-top: 196px;
        &__titel {
            width: 769px;
            font-weight: 700;
            font-size: 64px;
            line-height: 78px;
            color: #202027;
        }
        &__text {
            margin: 24px 0 48px;
            width: 720px;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: #202027;
            &-span {
                font-weight: 600;                
            }
        }
        &__link {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #202027;
        }
        &__button {
            font-weight: 600;
            font-size: 24px;
            width: 247px;
            height: 66px;
            border: none;
            border-radius: 60px;
            background-color: #202027;
            color: #FFFFFF;
            &:hover {
                border: 1px solid #000000;
                background-color: transparent;
                color: #000000;
                cursor:pointer;
            }
        }
    }
    &__star1{
        position: absolute;
        left: 63px;
        top: 94px;
        height: 57px;
    }
    &__star2 {
        position: absolute;
        left: 153px;
        top: 69px;
        height: 35px;
    }
    &__star3{
        position: absolute;
        right: 455px;
        top: 538px;
        height: 37px;
    }
    &__star4 {
        position: absolute;
        right: 344px;
        top: 568px;        
    }
}

.section-desktop {
    position: relative;
    margin-top: 94px;    
    &__titel {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
    }
    &__text {
        max-width: 788px;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
        margin: 24px 0 72px;
    }
    &__star {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    &__star1 {
        position: absolute;
        top: 676px;
        left: 25px;
        z-index: -1;
    }
    &__star2 {
        position: absolute;
        height: 55px;
        top: 728px;
        left: 40px;
        z-index: -1;
    }
}

.section {
    position: relative;
    margin-top: 94px;
    &__titel {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        margin-bottom: 72px;
    }
    &__star1 {
        position: absolute;
        top: 47px;
        right: 124px;
        height: 35px;
    }
    &__star2 {
        position: absolute;
        top: 80px;
        right: 45px;
        height: 67px;
    }
    &__star3 {
        position: absolute;
        bottom: -99px;
        right: 150px;        
    }
    &__star4 {
        position: absolute;
        bottom: -79px;
        right: 52px;        
    }
}

.box {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    &__position {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.game-box {
    border-radius: 30px;
    background-color: #FFFFFF;    
    &__img {
        width: 100%;                   
        border-radius: 30px;
        &_AD61FF {
            background-color: #AD61FF;
        }
        &_FDAD00 {
            background-color: #FDAD00;
        }
        &_565EEF {
            background-color: #565EEF;
        }
        &_271A58 {
            background-color: #271A58;
        }
        &_99D100 {
            background-color: #99D100;
        }
    }
    &__name {
        padding: 32px 32px 36px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        &-link {
            max-width: 108px;
        }
        &-button {        
            font-weight: 500;
            font-size: 16px;
            width: 108px;
            height: 36px;
            border: none;
            border-radius: 52px;
            background-color: #f7f7f7;
            color: #202027;
            &:hover {
                cursor:pointer;
            }
        }
        &-text {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #202027;
            &_3string {
                width: 300px;
            }
        }
    }
    &:hover {
        transform: scale(1.085);
        transition: transform 0.5s;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    &-box {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 30px;
    &__content {
        grid-column: span 3;
        padding: 48px;        
        &-titel {
            font-weight: 700;
            font-size: 48px;
            color: #202027;
        }
        &-text {
            margin: 24px 0 36px;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: #202027;
        }
        &-button {
            font-weight: 600;
            font-size: 24px;
            width: 247px;
            height: 66px;
            border-radius: 60px;
            background-color: #202027;
            color: #FFFFFF;
            &:hover {
                border: 1px solid #000000;
                background-color: transparent;
                color: #000000;
                cursor:pointer;
            }
        }
    }
    &__link-img {
        grid-column: span 3;
        max-height: 500px;
    }
    &__img { 
        display: flex;
        align-items: center;
        border-radius: 30px;
        width: 100%;
    }
    }
}

.footer {
    margin-top: 144px;
    height: 150px;
    background-color: #BDED35;
    &__titel {
        text-align: center;
        padding-top: 61px;
        font-weight: 600;
        font-size: 24px;
        color: #000000;
    }
}

@media screen and (max-width: 600px) {
    .center {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }
    .section-desktop {
        display: none;
    }
    .top {
        height: 700px;
        &__big-star{
            display: none;
        }
        &__small-star {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
        &-content {
            min-width: 344px;
            padding-top: 147px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__titel {
                width: 262px;
                font-size: 40px;
                line-height: 49px;               
            }
            &__text {
                margin: 24px 0 36px;
                width: 296px;
                font-size: 16px;
                line-height: 20px;
            }
            &__link {
                font-size: 16px;
            }
            &__button {
            font-size: 16px;
            width: 285px;
            height: 55px;
            border: none;
            border-radius: 60px;
            background-color: #202027;
            color: #FFFFFF;
            }
        }
        &__star1 {
            left: 37px;
            top: 97px;
            height: 35px; 
        }
        &__star2 {
            left: 91px;
            top: 64px;
            height: 21px;
        }
        &__star3 {
            right: 86px;
            top: 557px;
            height: 18px;
        }
        &__star4 {
            right: 34px;
            top: 580px;
            height: 40px;
        }
    }

    .section {
        margin-top: 48px;
       &__star1, 
       .section__star2, 
       .section__star3,
       .section__star4 {
        display: none;
       }
       &__titel {
        font-size: 40px;
        margin-bottom: 48px;
       }
    }

    .container {
        gap: 24px;
        &-box {
            position: relative;
            &__link-img {
                position: absolute;
                top: 0;
                left: 0;
            }
            &__content {
                padding: 316px 29px 32px;
                grid-column: span 6;
                &-titel {
                    font-size: 32px;
                }
                &-text {
                    margin: 16px 0 32px;
                    font-size: 16px;
                    line-height: 20px;
                }
                &-button {
                    font-size: 16px;
                    width: 285px;
                    height: 55px;
                }
            }
        }
    }

    .footer {
    margin-top: 10px;
    height: 100px;
    &__titel {
        padding-top: 40px;
        font-size: 16px;
    }
}
}